.about-content 
    display: flex
    flex-flow: row wrap
    // width: 100vw
    align-content: center
    align-items: center
    justify-content: center
    margin-top: 100px
    .about-text 
        display: flex
        flex-flow: column
        align-content: center
        align-items: center
        // max-width: 900px
        #link
            text-decoration: underline
        h1, h2, h3, h4, h5, h6
            text-align: center
        ul
            list-style: none
            margin: 0
            padding: 0
            li
                list-style: none
                margin: 0
                padding: 0   
        .themebtn, .moon, .light
            display: none
    .themebtn, .moon, .light
        display: none      

@media screen and ( min-width: 0px ) and ( max-width: 767px )
    body
        margin: 0
        .about-content
            flex-flow: column
            margin-top: 80px
            .about-text
                margin: 0
                p, label
                    margin: 0 30px 0 30px
            .toggleresponsive
                display: none
            .themebtn, .moon, .light
                display: none 
                .themebtn, .moon, .light
                    display: none 
                    

    